<mgl-map
  class="map"
  [style]="'mapbox://styles/mapbox/streets-v9'"
  [zoom]="[15]"
  [center]="[31.234356822795462, 30.046183159482666]"
  (mapClick)="mapClicked($event)"
>
  <mgl-marker [lngLat]="[lng, lat]">
    <img src="assets/images/location-pin.png" class="marker" alt="" srcset="" />
  </mgl-marker>

  <mgl-marker
    #myMarker
    *ngFor="let service of filteredServices"
    [lngLat]="[service.lng, service.lat]"
  >
    <img src="assets/images/location-pin.png" class="marker" alt="" srcset="" />
    <mgl-popup
      [lngLat]="[service.lng, service.lat]"
      [closeButton]="false"
      [closeOnClick]="false"
      [closeOnMove]="false"
    >
      {{ service.name }}
    </mgl-popup>
  </mgl-marker>
</mgl-map>

<button (click)="selectService()">Select Service</button>
<button routerLink="/order-status">Next</button>
